.slider {
  border: none !important;
  height: 2px !important;
  background: url(../images/slider-ui-img.gif) repeat-x 0px -39px !important;
  position: relative;
  top: 12px;
  margin-right:60px; 
}
.slider .ui-slider-handle {
  width: 13px;
  height: 13px;
  position: absolute;
  top: -5px;
  z-index: 3;
  background: url(../images/slider-ui-img.gif) no-repeat 0px -44px !important;
  cursor:pointer;
}
.slider .ui-widget-header {
  position: absolute;
  background:url(../images/slider-ui-img.gif) repeat-x 0px -34px !important;border:1px solid #686868 !important;height:4px !important;
}
.slider a {
  outline: none;
  -moz-outline-style: none;
}



/*box shadow, border-radius effects*/
.sliderControl,.sliderValue{
background-color:#e5e5e5;
padding:0px;
height:30px;
border-radius:6px;
-moz-border-radius:6px;
-moz-box-shadow:#a9a9a9 0px 1px 2px;
box-shadow:0px 1px 2px #a9a9a9;
position:relative;
background:-moz-linear-gradient(left, #e4e6e8, #f9fafb);    
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e4e6e8), color-stop(99%,#f9fafb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #e4e6e8 0%,#f9fafb 99%); /* Chrome10+,Safari5.1+ */
filter: progid:DXImageTransform.Microsoft.gradient( GradientType=1, StartColorStr='#e4e6e8', EndColorStr='#f9fafb');/* IE6-8 */
-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
padding:0px 0px 0 20px;
}


/*slider Control*/
.sliderContainer{
margin-bottom:20px;
}
.sliderControl{
margin-bottom:20px;
}
.sliderContainer{
width:220px;
}
.sliderContainer.small{
width:150px;
}
.sliderContainer.medium{
width:190px;
}


/*slider Value*/
.sliderValue{
z-index:4;
width :inherit;
}


.sliderValue input{
float:left;
height:30px;
background-color:transparent !important;
border:0px solid #999;
width:100%;
}
.sliderImg{
float:right;
cursor:pointer;
background:url(../images/slider-ui-img.gif) no-repeat;
width:28px;
height:31px;
position:absolute;
right:0;
}


input.result{
background:transparent !important;
border:0px solid #999;
font-size:10px;
float:right !important;
margin:5px 5px 0 0; 
width:30px !important;
}
