body,
div,
td,
a {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
/* Effects Styles */
.sliderContainer {
  margin-bottom: 20px;
  width: 220px;
}
.sliderContainer.small {
  width: 150px;
}
.sliderContainer.medium {
  width: 190px;
}
.sliderContainer .sliderValue {
  width: inherit;
  padding: 0 0 0 20px;
  height: 30px;
  position: relative;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: #a9a9a9 0px 1px 2px;
  -moz-box-shadow: #a9a9a9 0px 1px 2px;
  -webkit-box-shadow: #a9a9a9 0px 1px 2px;
  background: #e5e5e5;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #e4e6e8), color-stop(1, #f9fafb));
  background: -ms-linear-gradient(bottom, #e4e6e8, #f9fafb);
  background: -moz-linear-gradient(left, #e4e6e8 0%, #f9fafb 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e4e6e8,endColorstr='#f9fafb')";
  display: block;
}
.sliderContainer .sliderValue input {
  height: 30px;
  background-color: transparent !important;
  border: 0px solid #999;
  width: 100%;
  padding: 3px 0 0 0;
  font-size: 11px;
}
.sliderContainer .sliderValue .sliderImg {
  cursor: pointer;
  background: url(../images/slider-ui-img.gif) no-repeat;
  width: 28px;
  height: 31px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.sliderContainer .sliderValue.error {
  background: rgba(255, 0, 0, 0.15) !important;
  border: 1px solid red !important;
}
 .sliderContainer input.errorMsg {
  color: Red;
  height: auto;
  font-size: 11px;
  right: 20px;
  position: relative;
  padding: 3px;
  background:transparent;
  border:0px;
  display:inline-block;
  float:left;
  text-align:left;
  width:100%;
  text-indent:20px;
  
}
.sliderContainer .sliderControl {
  width: inherit;
  padding: 0 0 0 20px;
  height: 30px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: #a9a9a9 0px 1px 2px;
  -moz-box-shadow: #a9a9a9 0px 1px 2px;
  -webkit-box-shadow: #a9a9a9 0px 1px 2px;
  background: #e5e5e5;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #e4e6e8), color-stop(1, #f9fafb));
  background: -ms-linear-gradient(bottom, #e4e6e8, #f9fafb);
  background: -moz-linear-gradient(left, #e4e6e8 0%, #f9fafb 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e4e6e8,endColorstr='#f9fafb')";
  position: relative;
}
.sliderContainer .sliderControl .slider {
  border: none !important;
  height: 2px !important;
  background: url(../images/slider-ui-img.gif) repeat-x 0px -39px !important;
  position: relative;
  top: 12px;
  margin-right: 60px;
}
.sliderContainer .sliderControl .slider .ui-slider-handle {
  width: 13px;
  height: 13px;
  position: absolute;
  top: -5px;
  z-index: 3;
  background: url(../images/slider-ui-img.gif) no-repeat 0px -44px !important;
  cursor: pointer;
}
.sliderContainer .sliderControl .slider .ui-widget-header {
  position: absolute;
  background: url(../images/slider-ui-img.gif) repeat-x 0px -34px !important;
  border: 1px solid #686868 !important;
  height: 4px !important;
}
.sliderContainer .sliderControl .slider a {
  outline: none;
  -moz-outline-style: none;
}
.sliderContainer .sliderControl input.result {
  background: transparent !important;
  border: 0px solid #999;
  font-size: 10px;
  float: right !important;
  margin: 5px 5px 0 0;
  width: 30px !important;
}
